body {
  background-color: #ebf8fe;
  overflow: hidden;
}
.app {
  text-align: center;
  max-width: 1080px;
  margin: 40px auto;
}

.list-sort {
  max-width: 480px;
  margin: auto;
}

.list-container {
  display: flex;
  width: 100%;
  padding: 40px;
}

.list-container__right {
  flex: 1;
  border: 2px dotted #888cf0;
}

h3 {
  font-size: 30px;
}

.container-sort__wrapper {
  display: flex;
  justify-content: center;
}
.container-sort__column {
  flex: 1;
  margin-right: 10px;
}

.container-sort__items {
  border: 0.5px solid grey;
  min-height: 200px;
}

/* ////////////////// */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-column,
.right-column {
  width: 50%;
  padding: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
.main-Container h4 li {
  margin-right: 400px;
  font-family: "Montserrat", sans-serif;
}
.left-column li,
.right-column li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(116, 234, 205);
  /* border: 1px solid #4caf50; */
  margin: 12px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
}

input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  border: none;
  height: 100%;
}

input:focus {
  outline: none;
}
.column {
  margin: 10px;
}
.App {
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: white;
}

.columns {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

.subHead {
  padding: 10px 10px 0px 10px;
  color: #7f898e;

  font-weight: 500;
}

.select {
  background-color: transparent;
  width: 210px;
  height: 40px;
  border: none;
  margin: -11.5px;
}

.footer {
  margin-top: 120px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.cp-link {
  text-decoration: none;
}
